---
title: "How to use GitLab for Agile, CI/CD, GitOps, and more"
author: Sara Kassabian
author_gitlab: skassabian
author_twitter: gitlab
categories: engineering
description: "We share some of our top engineering stories from the past two years that show how to apply GitLab technology to software development."
tags: CI, CD, inside GitLab, demo
ee_cta: false
install_cta: false
twitter_text: "Here's a roundup some of the top demos and tutorials that show what you can do with @GitLab"
featured: yes
postType: content marketing
related_posts:
  - "/blog/2020/11/18/docker-hub-rate-limit-monitoring/"
  - "/blog/2020/09/16/year-of-kubernetes/"
  - "/blog/2020/03/27/gitlab-ci-on-google-kubernetes-engine/"
merch_banner: merch_one
---

On this blog, our community frequently shares tips, tricks, stories, and tutorials that demonstrate how to do different things with GitLab. This collection features some of our most popular and enduring how-to blog posts from the past two years. See how various team members, companies, and users leverage GitLab to deliver software faster and more efficiently by reading and watching some of the tutorials we've featured.

## Code review with GitLab

We know that code review is essential to effective collaboration, but the logistics of it all can be challenging. [Master code review by watching the demo](/blog/2017/03/17/demo-mastering-code-review-with-gitlab/) included with this blog post.

## Cool ways to use GitLab CI/CD

### The basics of CI/CD

Brand new to CI/CD? Read our [beginner's guide to the vocabulary and concepts](/blog/2020/07/06/beginner-guide-ci-cd/).

Here’s the [code you’ll need to build a CI/CD pipeline](/blog/2017/09/21/how-to-create-ci-cd-pipeline-with-autodeploy-to-kubernetes-using-gitlab-and-helm/) with AutoDeploy to Kubernetes, using GitLab and Helm.

Next, find the [code you'll need to build a CI pipeline with GitLab](/blog/2020/12/10/basics-of-gitlab-ci-updated/), allowing you to run jobs sequentially, in parallel, or out of order.

### Pipelines with CI/CD

Learn how to [build a CI/CD pipeline in 20 minutes (or less) using GitLab’s AutoDevOps](/blog/2019/09/26/building-a-cicd-pipeline-in-20-mins/) capabilities by following the instructions in this blog post, which is based on a popular GitLab Commit Brooklyn presentation that you can watch below.

Discover [how to trigger pipelines across multiple projects](/blog/2019/07/24/cross-project-pipeline/) using GitLab CI/CD.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/-shvwiBwFVI" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

### CI/CD with Android

Android project users are in luck because in [this post we explain how to set up GitLab continuous integration (CI) functions](/blog/2018/10/24/setting-up-gitlab-ci-for-android-projects/) in Android projects.

GitLab and fastlane pair up to [help users publish applications to the iOS store](/blog/2019/03/06/ios-publishing-with-gitlab-and-fastlane/) using a GitLab CI/CD runner.

### CI/CD and GKE

![GitLab CI/CD and GKE integration](/images/blogimages/gitlab-gke-integration-cover.png){: .shadow.medium.center}

We explain [how to get started with GitLab CI/CD and Google Kubernetes Engine (GKE)](/blog/2018/04/24/getting-started-gitlab-ci-gcp/) in this initial demo.

GitLab self-managed user? ✅
Using Google Kubernetes engine? ✅
Great! The [next tutorial is all about how to use GitLab CI to install GitLab runners on GKE](/blog/2020/03/27/gitlab-ci-on-google-kubernetes-engine/) using our integration. It shouldn’t take you more than 15 minutes.

## GitLab for machine learning

But what about GitLab for machine learning? We’ve got you covered. Watch the demo from GitLab Virtual Commit to see how you can use GitLab to leverage tasks for machine learning pipelines.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/DJbQJDXmjew" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## GitLab for Agile

GitLab features work for many software development methodologies, including Agile.

Start by [mapping Agile artifacts to GitLab features](/blog/2018/03/05/gitlab-for-agile-software-development/) and explore how iteration works using GitLab.

![GitLab issue board](/images/blogimages/issue-board.png){: .shadow.medium.left}

The GitLab issue board allows for flexible workflows and can be organized to represent Agile software development states.
{: .note.text-center}

Then go more in-depth to learn [how to use GitLab for Agile portfolio planning and project management](/blog/2020/11/11/gitlab-for-agile-portfolio-planning-project-management/).

## Giddy for GitOps?

[GitOps](/topics/gitops/) takes DevOps best practices that are used for application development such as version control, collaboration, compliance, and CI/CD, and applies them to infrastructure automation.

GitLab is the DevOps platform that does it all, and it’s built using Git, making it the ideal solution for GitOps processes.

First, we explained [how GitLab and Ansible can be used together for GitOps](/blog/2019/07/01/using-ansible-and-gitlab-as-infrastructure-for-code/) processes and infrastructure as code. In a follow-up post, we explain how [GitLab can also be paired with Terraform for GitOps](/blog/2019/11/12/gitops-part-2/) and IaC.

The video on how to use Ansible and GitLab together has been viewed more than 13,000 times since it was first created in 2019, and is embedded for you below.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/M-SgRTKSeOg" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Visibility

One of our principles at GitLab is to [dogfood everything](/handbook/engineering/#sts=Dogfooding), so you can rest assured that we aren’t about to introduce an engineering feature without first trying it out for ourselves. When it comes to our Insights tool though, the process happened in reverse. Our Engineering Productivity team at GitLab needed a particular tool, and as we built it, we realized it would benefit our GitLab Ultimate customers. Read on to [learn how our Insights tool came to be](/blog/2020/01/30/insights/).

Dig into this [valuable explanation of how we discovered that Prometheus query language can be used to detect anomalies](/blog/2019/07/23/anomaly-detection-using-prometheus/) in the time-series data that GitLab.com reports.

## In the clouds

Watch the demo to learn how GitLab runner and RedHat OpenShift can work together to jump start your application development and deployment to the cloud.

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube-nocookie.com/embed/yGWiQwrWimk" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

And finally, although Docker Hub may be enforcing new rate limits, there's no need to panic. We [explain how to build a monitoring plug-in](/blog/2020/11/18/docker-hub-rate-limit-monitoring/) to help you monitor the number of pull requests.

Can you think of some other stand-out blog posts or demos that we should include here? Drop the link in a comment below.

