!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav", offset: "90"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header-event"
    .gitlab-content-container.commit-content-container
      .content.commit-content
        = yield
    = partial "includes/layout/footer"
    -# The below script is for ticket sales using the Eventbrite platform
    = partial "/includes/events/commit/landing/eventbrite-js"
