---
layout: feature
title: "Manage Compliance with GitLab"
description: "How to use GitLab to build applications that meet common regulatory compliance standards"
suppress_header: true
canonical_path: "/solutions/compliance/"
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  .blank-header
    = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
    = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
    .header-content
      = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
      %h1 Manage Compliance with GitLab
      %p
        Building applications that meet common regulatory compliance standards
  .sub-wrapper
    .container
      .grid-layout.grid-layout2.margin-top50
        .grid-item
          %h2.margin-top0 Compliance management
          %p
            Compliance management is hard. And traditionally boring. Per
            %a{ href: "https://www.gartner.com/en/legal-compliance/insights/compliance-program-management"}
              Gartner, the need for compliance continues to grow significantly but the budgets are expected to remain flat or decrease.
            On the other hand, the cost of non compliance is very high - manifesting in the form of revenue loss, business disruptions, fines, brand image,
            stock prices and so on.
            %p
              Hence, you need a compliance program that must be built into the operations of the business to be impactful, rather than be a separate process attached to various other systems. This helps compliance teams to keep up with the changing regulations and emerging risks.
        .grid-item
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/XFilPpXwVzs", :width => "560"}
      %hr.divider

      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2.margin-top0 Compliance Management with Gitlab
          %p
            GitLab compliance management aims to change the current paradigm for compliance to create an experience that's simple, friendly, and as frictionless as possible by enabling you to define, enforce and report on compliance policies and frameworks.
            %ul
              %li
                %strong Policy Management
                helps you define rules and policies to adhere to compliance frameworks
              %li
                %strong Automate Compliance Workflows
                helps you enforce the defined rules and policies
              %li
                %strong Audit Management
                helps you log activities to identify incidents and prove adherence to compliance rules and policies defined
              %li
                %strong Security Management
                helps you ensure
                %a{ href: "/solutions/dev-sec-ops"}
                  security scanning and license compliance
                for every piece of code and a dashboard to track and manage vulnerabilities

      %hr.divider

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Policy Management
          %p
          Policy Management helps you define rules and policies to adhere to - either internal company policies or policies based on legal or regulatory frameworks such as GDPR, SOC2, PCI-DSS, SOX, HIPAA, ISO, COBIT, FedRAMP, and so on.
          %ul
            %li
              %strong Granular User Roles and Permissions
              GitLab supports five different user roles with permissions according to people’s role, rather than access required to a repository
            %li
              %strong Compliance Settings
              Create and enforce on compliance policies for users based on compliance rules for specific projects / groups
            %li
              %strong Credentials inventory
              Keep track of all the credentials that can be used to access the GitLab self-managed instance
            %li
              %strong Protected Branches
              Control unauthorized modifications to specific branches - including creating, pushing, deleting of a branch - without adequate permissions or approvers
        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/solutions/compliance/compliance-policy-mgmt.png", alt: "GitLab Policy Management", style: "margin-top: 150px;"
      %hr.divider

      .row
        .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
          = image_tag "/images/solutions/compliance/compliance-frameworks.png", class: "hidden-xs", alt: "Gitlab Automate Compliance Workflows", style: "margin-top: 50px;"
        .col-xs-12.col-md-6
          %h2 Automate Compliance Workflows
          %p
          Once the policies and rules are defined, you need a way to enforce these policies. Compliance controls and automation of compliance workflows focus on enforcing policies, separation of duties while reducing overall risk.
          %ul
            %li
              %strong Compliance Framework Project Templates
              Create projects with issues that map to specific audit protocols such as HIPAA - to help maintain an audit trail & manage compliance programs
            %li
              %strong Compliance Framework Project Labels
              Enable common compliance settings to be applied to projects with specific framework labels
      %hr.divider

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Audit Management
          %p
          Compliance audits require traceability of various compliance events - such as user actions, permission changes, approval changes, logins, password changes and so on. Such information exists in GitLab, audit management aims to provide a consolidated view of these insights.
          %ul
            %li
              %strong Audit Events
              aims to satisfy organizational audit logging requirements within the UI or via API
            %li
              %strong Advanced log system
              of 20+ system logs - where everything is logged to analyze the GitLab instance
            %li
              %strong Compliance Dashboard
              aims to provide compliance insights in a consolidated view with all relevant compliance signals such as segregation of duties, framework compliance, license compliance, pipeline and MR results. Currently, the dashboard focuses on most recently merged MR activity.

        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/solutions/compliance/compliance-audit-mgmt.png", alt: "GitLab Audit Management", style: "margin-top: 50px;"
      %hr.divider

      .row
        .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
          = image_tag "/images/icons/security.png", class: "hidden-xs", alt: "GitLab for compliance frameworks", style: "margin-top: 50px;"
        .col-xs-12.col-md-6
          %h2 GitLab for Compliance Frameworks
          %p
          %ul
            %li
              %a{ href: "/solutions/pci-compliance"}
                PCI Compliance
            %li
              %a{ href: "/solutions/hipaa-compliance"}
                HIPAA Compliance
            %li
              %a{ href: "/solutions/financial-services-regulatory-compliance"}
                Financial Services Regulatory Compliance
            %li
              %a{ href: "/gdpr"}
                GDPR
            %li
              %a{ href: "/solutions/iec-62304"}
                IEC 62304:2006
            %li
              %a{ href: "/solutions/iso-13485"}
                ISO 13485:2016
            %li
              %a{ href: "/solutions/iso-26262"}
                ISO 26262-6:2018
      %hr.divider

      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2.margin-top0 GitLab eased SOC 2 Audit for Chorus.ai
          %p
            During a recent audit for SOC2 compliance, the auditors said that Chorus had the fastest auditing process they have seen and most of that is due to the capabilities of GitLab
            %p
              %strong Russell Levy
              %br
                Co-Founder, and Chief Technology Officer, Chorus.ai
                %br
                  %a{ href: "https://about.gitlab.com/customers/chorus/"}
                    Read full story
      %hr.divider



      .row.links
        .col-xs-1.col-md-1
        .col-xs-11.col-md-6
          %h2 Help and More Information
          %ul
            %li
              Please see
              = link_to "/get-help/" do
                Get help for GitLab
              if you have questions
            %li
              %a{ href: "https://docs.gitlab.com/ee/administration/compliance.html" }
                Compliance Features
            %li
              %a{ href: "https://docs.gitlab.com/ee/user/compliance/compliance_dashboard" }
                Compliance Dashboard
            %li
              Roadmaps
              %a{ href: "https://about.gitlab.com/direction/manage/audit-events/" }
                Audit Events
              |
              %a{ href: "https://about.gitlab.com/direction/manage/audit-reports/" }
                Audit Reports
              |
              %a{ href: "https://about.gitlab.com/direction/manage/compliance-management/" }
                Compliance Management
              |
              %a{ href: "https://about.gitlab.com/direction/manage/auth/" }
                Authentication & Authorization
              |
              %a{ href: "https://about.gitlab.com/direction/manage/users/" }
                User Management
            %li
              See how
              %a{ href: "https://about.gitlab.com/customers/chorus/" }
                GitLab eased SOC2 audit for Chorus.ai
              against other Security tools
            %li
              See how we
              %a{ href: "https://about.gitlab.com/devops-tools/" }
                compare
              against other DevOps tools
        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/icons/help.png", class: "gitlab-arch hidden-xs", alt: "GitLab Help", style: "margin-top: 100px;"
